*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  line-height: 1.8;
  background-color: #222;
  color: #333;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
