.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  &__json {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    line-height: 1.4;
    height: (16px * 1.4 * 21);
    text-align: left;
    white-space: pre;
    color: #fff;
    &::after {
      content: '|';
      animation: blink 1.2s infinite;
    }
    @media (min-width: $screen-sm) {
      font-size: 20px;
      height: (20px * 1.4 * 21);
    }
  }
  &__particle {
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s;
    &.is-active {
      opacity: 1;
    }
  }
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
