.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  &__json {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    font-size: 16px;
    line-height: 1.4;
    height: (16px * 1.4 * 21);
    text-align: left;
    white-space: pre;
    background-color: #000;
    color: #fff;
    @media (min-width: $screen-sm) {
      font-size: 20px;
      height: (20px * 1.4 * 21);
    }
  }
  &__particle {
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s;
    &.is-active {
      opacity: 1;
    }
  }
}
