.scroll {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  transform: translate(0, -50%);
  text-decoration: none;
  padding-top: 60px;
  &.is-active {
    display: block;
  }
  &__inner {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    animation: scroll 2s infinite;
  }
}

@keyframes scroll {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
