.section {
  padding: 50px 0;
  @media (min-width: $screen-sm) {
    padding: 100px 0;
  }
  &__heading {
    position: relative;
    margin: 0 0 60px;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #fff;
    &--intro {
      display: none;
    }
  }
  &__headingInner {
    display: inline-block;
    border-bottom: 5px solid;
  }
}
