.section {
  padding: 100px 0;
  &__heading {
    position: relative;
    margin: 0 0 40px;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
    &--intro {
      display: none;
    }
  }
  &__headingInner {
    display: inline-block;
    border-bottom: 5px solid;
  }
}

@keyframes wave {
  0 {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10%);
  }
}
