.skill {
  $height: 35px;
  position: relative;
  height: $height;
  margin-bottom: 2px;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    z-index: -1;
  }
  &__name {
    position: absolute;
    top: 50%;
    left: .5em;
    transform: translateY(-50%);
    color: #fff;
  }
  &__bar {
    display: inline-block;
    height: $height;
    width: 0;
    background: linear-gradient(to left, #4CB8C4, #3CD3AD)
  }
  &__num {
    display: none;
    @media (min-width: $screen-sm) {
      display: block;
      position: absolute;
      top: 50%;
      right: .5em;
      transform: translateY(-50%);
      color: #3CD3AD;
      font-weight: bold;
    }
  }
}
