.skill {
  $height: 40px;
  &__item {
    position: relative;
    height: $height;
    transition: height .3s;
    &:not(:last-child) {
      border-bottom: 2px solid #fff;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #eee;
      z-index: -1;
    }
    @media (min-width: $screen-sm) {
      height: 80px;
      &:hover {
        height: 200px;
        .skill__bar {
          width: 100% !important;
        }
        .skill__num {
          display: none;
        }
        .skill__text {
          opacity: 1;
        }
      }
    }
  }
  &__name {
    position: absolute;
    top: 50%;
    left: .5em;
    transform: translateY(-50%);
    color: #fff;
  }
  &__bar {
    display: inline-block;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, #4CB8C4, #3CD3AD);
    transition: width .3s;
  }
  &__num {
    display: none;
    @media (min-width: $screen-sm) {
      display: block;
      position: absolute;
      top: 50%;
      right: .5em;
      transform: translateY(-50%);
      color: #3CD3AD;
      font-weight: bold;
    }
  }
  &__text {
    display: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 7em;
    transform: translateY(-50%);
    width: 90%;
    color: #fff;
    transition: opacity .5s;
    @media (min-width: $screen-sm) {
      display: block;
    }
  }
}
