.work {
  $padding-top: 2rem;
  $padding-left: .7rem;
  &__item {
    position: relative;
    padding: $padding-top $padding-left;
    background-color: #ddd;
    border-radius: 5px;
    transform: translateY(300%);
    &:not(:last-child) {
      margin-bottom: 3rem;
      @media (min-width: $screen-sm) {
        margin-bottom: 6rem;
      }
    }
    @media (min-width: $screen-sm) {
      padding-top: 3rem;
      &:hover {
        .work__link::after,
        .work__title {
          opacity: 1;
        }
        .work__title {
          top: 50%;
          &::before,
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  &__btn {
    $size: 10px;
    $space: 1.7rem;
    position: absolute;
    top: calc(#{$padding-top} / 2 - 5px);
    left: calc(#{$padding-left} + #{$space});
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: #ffc873;
    @media (min-width: $screen-sm) {
      top: calc(3rem / 2 - 5px);
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: $size;
      height: $size;
      border-radius: 50%;
    }
    &::before {
      left: $space * -1;
      background-color: #ff6c73;
    }
    &::after {
      left: $space;
      background-color: #76ca90;
    }
  }
  &__link {
    position: relative;
    display: block;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      opacity: 0;
      transition: opacity .3s;
    }
  }
  &__title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .5em 0;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-align: center;
    color: #fff;
    z-index: 1;
    opacity: 0;
    transition: opacity .3s, top .3s;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 5px;
      background-color: #fff;
      transition: width .3s;
    }
    &::before {
      top: 0;
      left: 0;
      transition-delay: .3s;
    }
    &::after {
      bottom: 0;
      right: 0;
      transition-delay: .4s;
    }
  }
}
