.work {
  $padding-top: 2rem;
  $padding-left: .7rem;
  $slide-speed: .3s;
  transform: translateY(200%);
  &__item {
    position: relative;
    padding: $padding-top $padding-left;
    background-color: #ddd;
    border-radius: 5px;
    &:not(:last-child) {
      margin-bottom: 3rem;
      @media (min-width: $screen-sm) {
        margin-bottom: 6rem;
      }
    }
    &:not(.slick-active) {
      pointer-events: none;
    }
    &.slick-active {
      .work__link::after,
      .work__title {
        opacity: 1;
      }
      .work__title {
        top: 50%;
        &::before,
        &::after {
          width: 100%;
        }
      }
    }
    @media (min-width: $screen-sm) {
      padding-top: 3rem;
      margin: 0 30px;
    }
  }
  &__btn {
    $size: 1rem;
    $space: 1.7rem;
    position: absolute;
    top: #{$padding-top} / 2 - #{$size} / 2;
    left: calc(#{$padding-left} + #{$space});
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: #ffc873;
    @media (min-width: $screen-sm) {
      top: 3rem / 2 - $size / 2;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: $size;
      height: $size;
      border-radius: 50%;
    }
    &::before {
      left: $space * -1;
      background-color: #ff6c73;
    }
    &::after {
      left: $space;
      background-color: #76ca90;
    }
  }
  &__link {
    position: relative;
    display: block;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(0, 0, 0, .5);
      transition: opacity .3s;
      transition-delay: $slide-speed + .2s;;
    }
  }
  &__title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em 0;
    font-size: 4vw;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    z-index: 1;
    opacity: 0;
    transition: opacity .3s, top .3s;
    transition-delay: $slide-speed + .2s;;
    @media (min-width: $screen-sm) {
      font-size: 3vw;
      padding: .5em 0;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: currentcolor;
      transition: width .3s;
        width: 0;
      @media (min-width: $screen-sm) {
      }
    }
    &::before {
      top: 0;
      left: 0;
      transition-delay: $slide-speed + .5s;
    }
    &::after {
      bottom: 0;
      right: 0;
      transition-delay: $slide-speed + .6s;
    }
  }
}
