.work {
  $height: 200px;
  &__item {
    position: relative;
    height: $height;
    background-image: url('https://unsplash.it/1920/300/?random');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-width: $screen-sm) {
      height: 300px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3);
      pointer-events: none;
    }
  }
  &__title {
    $diff-y: 50px;
    $diff-x: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    line-height: $height;
    color: #fff;
    font-size: 40px;
    text-align: center;
    z-index: 2;
    @media (min-width: $screen-sm) {
      font-size: 50px;
      line-height: 300px;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background-color: #fff;
      transition: width .4s;
    }
    &::before {
      top: $diff-y;
      left: $diff-x;
    }
    &::after {
      bottom: $diff-y;
      right: $diff-x;
      transition-delay: .1s;
    }
    @media (min-width: $screen-sm) {
      &:hover {
        &::before,
        &::after {
          width: (100% - $diff-x * 2);
        }
      }
    }
  }
}
