.header {
  position: relative;
  height: 100vh;
  text-align: center;
  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 100px));
    animation-name: fadeInUp;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  &__title {
    position: relative;
    line-height: 1;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    font-size: 5vw;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 10px;
      background-color: currentcolor;
      animation-name: expand;
      animation-duration: .6s;
      animation-delay: 0.8s;
      animation-fill-mode: forwards;
    }
  }
  &__link {
    font-style: italic;
  }
  &__linkIcon {
    display: none;
    @media (min-width: $screen-sm) {
      display: inline-block;
      padding-right: 1rem;
      font-size: 2.2rem;
      vertical-align: middle;
    }
  }
}

@keyframes fadeInUp {
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes expand {
  100% {
    width: 100%;
  }
}

