.outline {
  margin-bottom: 20rem;
  text-align: center;
  &__inner {
    display: inline-block;
    max-width: 64rem;
    text-align: left;
  }
  &__heading {
    margin-bottom: 4rem;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  &__headingText {
    display: inline-block;
    border-bottom: 5px solid;
  }
  &__text {
    line-height: 2.2;
  }
  &__link {
    text-decoration: underline;
  }
}
