.screenshot {
  $root: &;
  margin-bottom: 7rem;
  &--schoo-tours {
    #{$root}__point {
      &:nth-of-type(1) {
        top: 2%;
      }
      &:nth-of-type(2) {
        top: 11%;
      }
      &:nth-of-type(3) {
        top: 42%;
      }
      &:nth-of-type(4) {
        top: 79%;
      }
    }
  }
  &--feed-pocket {
    #{$root}__point {
      &:nth-of-type(1) {
        top: 14%;
      }
      &:nth-of-type(2) {
        top: 67%;
      }
    }
  }
  &--timeline{
    #{$root}__point {
      &:nth-of-type(1) {
        top: 8%;
      }
      &:nth-of-type(2) {
        top: 44%;
      }
      &:nth-of-type(3) {
        top: 77%;
      }
    }
  }
  &__container {
    @media (min-width: $screen-sm) {
      display: table;
      width: 100%;
    }
  }
  &__header {
    display: none;
    @media (min-width: $screen-sm) {
      display: block;
    }
  }
  &__head {
    @media (min-width: $screen-sm) {
      margin-bottom: 5rem;
      border-bottom: 1px solid;
      text-align: center;
      &:first-child {
        float: left;
        width: 50%;
      }
      &:last-child {
        float: right;
        width: 47%;
      }
    }
  }
  &__imgs {
    @media (min-width: $screen-sm) {
      display: table-cell;
      width: 50%;
    }
  }
  &__img {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }
  &__points {
    @media (min-width: $screen-sm) {
      display: table-cell;
      width: 50%;
      position: relative;
    }
  }
  &__point {
    display: none;
    @media (min-width: $screen-sm) {
      display: block;
      visibility: hidden;
      position: absolute;
      left: 55%;
      transform: translateX(-50%);
      background-color: $color-blue;
      padding: 25px;
      width: 90%;
      &::before {
        $size: 20px;
        content: '';
        position: absolute;
        top: 50%;
        right: 99%;
        transform: translateY(-50%);
        border-top: $size solid transparent;;
        border-right: $size * 2.0 solid $color-blue;
        border-bottom: $size solid transparent;;
      }
    }
  }
}
