.screenshot {
  $root: &;
  &--schoo-tours {
    #{$root}__point {
      &:nth-of-type(1) {
        top: 1%;
      }
      &:nth-of-type(2) {
        top: 10%;
      }
      &:nth-of-type(3) {
        top: 40%;
      }
      &:nth-of-type(4) {
        top: 80%;
      }
    }
  }
  &__container {
    @media (min-width: $screen-sm) {
      display: table;
    }
  }
  &__img {
    @media (min-width: $screen-sm) {
      display: table-cell;
      width: 50%;
    }
  }
  &__points {
    @media (min-width: $screen-sm) {
      display: table-cell;
      width: 50%;
      position: relative;
    }
  }
  &__point {
    display: none;
    @media (min-width: $screen-sm) {
      display: block;
      visibility: hidden;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: $color-blue;
      padding: 25px;
      width: 80%;
      &::before {
        $size: 20px;
        content: '';
        position: absolute;
        top: 50%;
        right: 99%;
        transform: translateY(-50%);
        border-top: $size solid transparent;;
        border-right: $size * 2.0 solid $color-blue;
        border-bottom: $size solid transparent;;
      }
    }
  }
  &__desc {
  }
}
