section.section.section--work
  .l-container
    h2.section__heading
      span.section__headingInner works
  .work
    ul#js-slick
      - works = {};
      - works[0] = {title: 'schoo tours', src: "schoo-tours.jpg", link: 'schoo-tours.html'};
      - works[1] = {title: 'Feed Pocket', src: "feed-pocket.jpg", link: '#'};
      - works[2] = {title: 'timeline', src: "timeline.png", link: '#'};
      - works[3] = {title: 'ballxball', src: "ballxball.png", link: '#'};
      each work, i in works
        li.work__item
          span.work__btn
          a.work__link(href=`${work.link}`)
            span.work__title= work.title
            img.work__img(src=`images/${work.src}` alt=`screenshot of ${work.title}`)
    span.slick-arrow.slick-prev
    span.slick-arrow.slick-next



