.scroll {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  z-index: 2;
  transform: translate(0, -50%);
  text-decoration: none;
  opacity:0;
  transition: opacity 1s;
  &.is-active {
    opacity: 1;
  }
  &__inner {
    $size: 3rem;
    position: absolute;
    top: 0;
    left: 50%;
    width: $size;
    height: $size;
    margin-left: $size * -1 / 2;
    border-left: 1px solid;
    border-bottom: 1px solid;
    transform: rotate(-45deg);
    animation: scroll 2s infinite;
  }
}

@keyframes scroll {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
