.skill {
  $height: 4rem;
  &__item {
    position: relative;
    height: $height;
    transition: height .3s;
    &:not(:last-child) {
      margin-bottom: 2px;
    }
    @media (min-width: $screen-sm) {
      height: 5rem;
      &.is-active:hover {
        height: 20rem;
        .skill__name {
          opacity: 0;
        }
        .skill__icon {
          opacity: .3;
        }
        .skill__bar {
          width: 100% !important;
        }
        .skill__num {
          display: none;
        }
        .skill__text {
          opacity: 1;
        }
      }
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-20%, -50%);
    color: #fff;
    font-size: 15rem;
    opacity: 0;
    transition: opacity .3s;
  }
  &__name {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    transition: all .3s;
  }
  &__bar {
    display: inline-block;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, #4CB8C4, #3CD3AD);
    transition: width .3s;
  }
  &__num {
    display: none;
    @media (min-width: $screen-sm) {
      display: block;
      position: absolute;
      top: 50%;
      right: .5em;
      transform: translateY(-50%);
      color: #3CD3AD;
      font-size: 1.7rem;
      font-weight: bold;
    }
  }
  &__text {
    display: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 90%;
    transition: opacity .3s;
    @media (min-width: $screen-sm) {
      display: block;
    }
  }
}
