extends layout

block title
  title shgtkshruch

block body
  main
    include partials/intro
    include partials/timeline
    include partials/skill
    include partials/work
    include partials/contact
