extends layout

block title
  title shgtkshruch

block body
  main
    include partials/intro
    include partials/timeline
    include partials/skill
    include partials/personal-work
    include partials/commerce-work
    include partials/contact
