extends layout

block title
  title shgtkshruch - schoo tours

block body
  header.header
    .header__inner
      h2.header__title schoo tours
      a.header__link(href="http://shgtkshruch.github.io/schoo-tours/" target="_blank") http://shgtkshruch.github.io/schoo-tours

  .screenshot.screenshot--schoo-tours
    .l-container
      .screenshot__header.cf
        span.screenshot__head screenshot
        span.screenshot__head creater's memo
      .screenshot__container
        .screenshot__img
          img(src="images/schoo-tours/screenshot.jpg" alt="screenshot")
        .screenshot__points
          - var points = [];
          - points[0] = {title: 'スライドショー', text: 'プラグインを用いずにスライドショーの実装を行いました。'};
          - points[1] = {title: 'SVGアニメーション', text: 'SVGのラインアニメーションと共にアイコンが浮き出てくる動きを作りました。Lazy Line Painterを用いました。'};
          - points[2] = {title: 'ライトボックス', text: '画像のクリックすると上品なアニメーションと共にライトボックスが開きます。こちらもプラグインを用いずに実装しました。'};
          - points[3] = {title: 'google map', text: 'サイトのデザインにマッチするように、google mapの配色をカスタマイズしてデザインを調和させました。またスクロールしてくると、マップのピンが上から落ちてくるアニメーションも加えました。'};

          each point in points
            .screenshot__point.js-point
              .screenshot__desc
                p.screenshot__text= point.text

  .l-container
    table.dataTable
      - var data = [];
      - data[0] = {th: '制作年', td: 2015};
      - data[1] = {th: '製作期間', td: '1 week'};
      - data[2] = {th: '担当', td: 'Design, Coding'};
      - data[3] = {th: '使用技術', td: ['Jade', 'Sass', 'CoffeeScript', 'gulp', 'Git', 'VIM ', 'Photoshop']};
      each d, i in data
        tr.dataTable__row
          th.dataTable__th= d.th
          td.dataTable__td
            if i === 3
              each t in d.td
                = t
                br
            else
              = d.td
